.about-me{
    background: url("../Pictures/about-page.svg");
    background-attachment: fixed;
    /*for now*/
    background-size: 0%;
    background-repeat: no-repeat;
    
}


.topbar{
    z-index: 9999;
}