.wrapper-welcome-page{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}


.welcome-name{
  font-family: Consolas, monaco, monospace;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  margin-left: 5px;
}


.welcome-text{
  color: #64ffda;
  margin: 0px 0px 20px 4px;
  font-family: monospace;
}

.welcome-arrow-transition{
  margin: 20px 0px 0px 0px;
  font-size: 20px;
  color: gray;
}


.welcome-brief-intro{
  color: gray;
  margin: 10px 0px 0px 5px;
}


.welcome-proffesion{
  font-size: 30px;
  color: #008080;
  font-family: monospace;
  margin: 20px 0px 0px 30px;
}
